<!DOCTYPE html>
<html lang="en">

<head>

  <title>FreshCart - eCommerce HTML Template</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta content="Codescandy" name="author">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M8S4MT3EYG');
  </script>

  <!-- Theme CSS -->
  <link rel="stylesheet" href="/assets/css/theme.min.css">

  <link rel="stylesheet" href="/css/auth/login.css">
</head>

<body>

<!-- navigation -->
<div class="border-bottom shadow-sm">
  <nav class="navbar navbar-light py-2">
    <div class="container">
      <form action="" class="back">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
          <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
      </form>
    </div>
  </nav>
</div>

  <main>
    <!-- section -->
    <section class="my-lg-14 my-8">
      <div class="container">
        <!-- row -->
        <div class="row justify-content-center align-items-center">
          <div class="logo">
            <img src="/assets/images/logo/image.png" class="logo_image">
          </div>
          <div class="login">
            <a th:href="${location}"><img src="/assets/images/login/kakao_login_medium_narrow.png" class="login_button"></a>
            <img src="/assets/images/login/btnG_완성형.png" class="login_button">
          </div>
          <!-- Javascript-->
          <!-- Libs JS -->
          <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
          <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
          <script src="/assets/libs/simplebar/dist/simplebar.min.js"></script>

          <!-- Theme JS -->
          <script src="/assets/js/theme.min.js"></script>
          <script src="/assets/js/vendors/password.js"></script>
        </div>
      </div>
    </section>
  </main>
</body>
</html>