<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/product/product.css">
  <script type="module" src="/js/product/product.js"></script>
  <title>Product Detail Page</title>
</head>
<body>
<main layout:fragment="main-content" th:class="main-container">
    <div class="product-container">
      <div class="detail-container">
        <img th:id="product-image" th:src="${product.image[0]}" alt="Product image"/>
        <div class="product-info-container">
          <p class="product-name" th:id="product-name" th:text="${product.name}"></p>
          <div class="product-price-container">
            <span class="product-discount-rate" th:id="discount-rate" th:text="${product.discountRate} + '%'"></span>
            <div class="price-container">
              <span class="selling-price price" th:id="selling-price" th:data-price="${product.sellingPrice}"></span>
              <span class="final-price price" th:id="final-price" th:data-price="${product.finalPrice}"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="product-description-container">
        <img th:id="product-description" th:src="${product.description[0]}" alt="Product Description"/>
      </div>
    </div>
    <footer class="action-buttons">
      <button
        class="btn btn-cart align-items-center"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasBottom"
        aria-controls="offcanvasBottom"
      >
        장바구니
      </button>
      <button class="btn-payment">구매하기</button>
    </footer>
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
      <div class="offcanvas-body small">
        <div class="cart-container">
          <p class="product-name" th:id="cart-product-name" th:text="${product.name}"></p>
          <div class="quantity-container">
            <span class="product-stock" th:id="product-stock" th:text="${product.stock}"></span>
            <div class="input-group quantity-selector">
              <button class="btn btn-outline-secondary" type="button" id="decrease-btn">-</button>
              <input type="number" class="form-control text-center" value="1" id="quantity-input" />
              <button class="btn btn-outline-secondary" type="button" id="increase-btn">+</button>
            </div>
          </div>
        </div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="button-contain">
        <button class="btn-cart">장바구니 담기</button>
      </div>
    </div>
  </main>
</body>
</html>