<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/event/event.css">
  <title>Event detail Page</title>
</head>
<body>
<main layout:fragment="main-content" th:class="container">
  <div class="event">
    <img src="/assets/images/event/20%25.png">
    <button type="button" class="button-payment">쿠폰 받기</button>
  </div>
</main>
</body>
</html>