<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/event/events.css">
  <title>Product List Page</title>
</head>
<body>
<main layout:fragment="main-content" th:class="container">
  <div class="content">
    <div class="card">
      <a href="#"><img src="/assets/images/logo/freshcart-logo.svg"></a>
    </div>
    <div class="card">
      <a href="#"><img src="/assets/images/logo/freshcart-logo.svg"></a>
    </div>
    <div class="card">
      <a href="#"><img src="/assets/images/logo/freshcart-logo.svg"></a>
    </div>
    <div class="card">
      <a href="#"><img src="/assets/images/logo/freshcart-logo.svg"></a>
    </div>
  </div>
</main>
</body>
</html>